@use '@/design/vars.scss' as v;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $main: (
    'padding': 0,
  ),
  $menu: (
    'border-color': transparent,
  ),
  $collapse: (
    'border-color': transparent,
    'header-height': auto,
    'header-font-size': 1em,
    'content-font-size': 1em,
  ),
  $colors: (
    'primary': (
      'base': v.$brand-color-3,
    ),
    'success': (
      'base': v.$color-success,
    ),
    'warning': (
      'base': v.$color-warning,
    ),
    'danger': (
      'base': v.$color-danger,
    ),
    'info': (
      'base': v.$color-black,
    ),
  ),
  $text-color: (
    'primary': v.$text-color-primary,
    'regular': v.$text-color-regular,
    'placeholder': rgba(v.$text-color-base, 0.55),
    'disabled': rgba(v.$text-color-base, 0.4),
  ),
  $link: (
    'text-color': #060612,
  ),
  $border-radius: (
    'base': 10px,
    'small': 8px,
    'round': 20px,
    'circle': 100%,
  ),
  $bg-color: (
    '': transparent,
    'page': v.$bg-color-page,
  ),
  $card: (
    'padding': 1.5em 1.5em 1.5em,
    'border-radius': 0.75em,
    'bg-color': v.$card-bg-color !important,
    'border-color': v.$card-bg-color,
  ),
  $input: (
    'border-radius': 0.5em,
  ),
  $font-size: (
    'extra-large': 21px,
    'large': 19px,
    'medium': 17px,
    'base': 15px,
    'small': 14px,
    'extra-small': 13px,
  )
);
