@use '@/design/element-plus-theme.scss' as theme;
//@use '@/design/element-plus-theme-dark.scss' as themeDark;
@use "element-plus/theme-chalk/src/index.scss" as *;
//@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;
@use 'element-plus/theme-chalk/src/mixins/function' as EPFunctions;
@use 'element-plus/theme-chalk/display.css';
@use "@/design/style/cards.scss";
@use "@/design/style/checkbox.scss";
@use "@/design/style/col.scss";
@use "@/design/style/collapse.scss";
@use "@/design/style/color.scss";
@use "@/design/style/drawer.scss";
@use "@/design/style/dropdown.scss";
@use "@/design/style/font.scss";
@use "@/design/style/form-item.scss";
@use "@/design/style/icons.scss";
@use "@/design/style/input.scss";
@use "@/design/style/layout.scss";
@use "@/design/style/radio.scss";
@use "@/design/style/select-v2.scss";
@use "@/design/style/steps.scss";
@use "@/design/style/tabs.scss";
@use "@/design/style/tag.scss";
@use "@/design/style/toasts.scss";
@use "@/design/style/apexchart.scss";

body {
  background-color: EPFunctions.getCssVar('bg-color', 'page');
  color: EPFunctions.getCssVar('text-color', 'regular');
  margin: 0;

  #app {
    min-height: 100vh;

    &>.el-container {
      min-height: 100vh;
    }
  }
}

.img-home {
  background-color: #fdf4e2;
  background-image: url("@/assets/images/home.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.pointer {
  cursor: pointer;
}

.project-dropdown {
  outline:none;
}

.el-message-box {
  background-color: white;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.text-muted {
  opacity: 0.6;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.highlight-string {
  background-color: #FADEA8;
}
