$brand-color-1: #2F2A95;
$brand-color-2: #4D49BE;
$brand-color-3: #EDC16C;
$brand-color-4: #979CE7;
$brand-color-5: #C2C5FF;
$brand-color-6: #DCDCF5;

$card-bg-color: #FFFFFF;

$social-svg-color: #1E1C4E;

$link-color: #DDB15A;

$text-color-base: #000;
$text-color-primary: #303133;
$text-color-regular: #606266;

$color-success: #89E7C0;
$color-warning: #EDD189;
$color-danger: #E38686;

$bg-color-page: #FFF;

$color-black: #000000;
$color-primary-light-7: #FFE6B6;
$color-primary-light-8: #FCEBCA;
$color-primary-light-9: #FDF4E2;
$color-lighter: #FAFAFA;

$color-avatar-selected: #F8D186;
